.tlo{
    width: 600px;
    height: 400px;
    background-color: darkblue;
    position: relative;
}

.jajko, .kwad{
    background-color: white;
    position: absolute
}

.jajko{
    top: 20%;
    right: 15%;
    width: 150px;
    height: 220px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.kwad{
    top: 100px;
    left: 15%;
    width: 200px;
    height: 200px;
    border-top-left-radius: 5%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

a{
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin: 2%;
    display: flex;
}